$green-10: #028041;
$green-11: #186100;
$white: #ffffff;
$grey: #ccc;
$border-white-2: $white 2px solid;

.app {
  border-radius: 15px;
  width: 100vw;
  height: 100vh;
  background-color: $green-10;
  color: $white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: lighter;

  .header {
    height: 20px;
    flex: 0 0 auto;
    margin: 5px;
    display: flex;
    align-items: center;
    color: $white;

    .logo {
      border-radius: 15px 0 15px;
      background-color: $green-11;
      position: absolute;
      padding: 5px 80px 3px 30px;
      left: 0;
      top: 0;
    }


    .introduce {
      cursor: pointer;
      margin-left: auto;
      border-bottom: $white 2px solid;
      padding: 0 10px;
      transition: all 0.2s ease;

      &:hover {
        padding: 0 30px;
      }
    }

    .close {
      margin-left: 20px;
      margin-right: 5px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }

  .body {
    text-align: center;
    flex-grow: 1;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'left_up middle right'
      'left_down middle right'
      'left_down middle right'
      'left_down middle right'
      'left_down middle right'
      'left_down middle right'
    ;

    >* {
      margin: 20px;
      border: $border-white-2;
      border-radius: 20px;
    }

    .left_up {
      grid-area: left_up;
      padding-bottom: 20px;
    }

    .left_down {
      grid-area: left_down;
      margin-top: 0px;

      .clockItem {
        margin: 10px;

        input {
          width: 90%;
        }
      }
    }

    .middle {
      grid-area: middle;
    }

    .right {
      grid-area: right;
    }
  }

  .footer {
    height: 20px;
    flex: 0 0 auto;
    border: $border-white-2;
    margin: 5px;
  }
}

h2 {
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
}

input {
  outline-style: none;
  border: 1px solid $grey;
  border-radius: 3px;
  margin: 0 5px;
  width: 25%;
}

label {
  margin: auto;
  width: 90%;
  font-size: 0.9em;

  input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
  }
}
