$green-10: #028041;
$green-11: #186100;
$white: #ffffff;
$border-white-2: $white 2px solid;

.app {
  border-radius: 15px;
  width: 100vw;
  height: 100vh;
  background-color: $green-10;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header {
    height: 20px;
    flex: 0 0 auto;
    margin: 5px;
    display: flex;
    align-items: center;
    color: $white;

    .logo {
      border-radius: 15px 0 15px;
      background-color: $green-11;
      position: absolute;
      padding: 5px 80px 3px 30px;
      left: 0;
      top: 0;
    }


    .introduce {
      cursor: pointer;
      margin-left: auto;
      border-bottom: $white 2px solid;
      padding: 0 10px;
      transition: all 0.2s ease;

      &:hover {
        padding: 0 30px;
      }
    }

    .close {
      margin-left: 20px;
      margin-right: 5px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }

  .body {
    flex-grow: 1;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-areas:
      'left_up middle right'
      'left_down middle right'
      'left_down middle right'
    ;

    >* {
      margin: 20px;
      border: $border-white-2;
      border-radius: 20px;
    }

    .left_up {
      grid-area: left_up;
    }

    .left_down {
      grid-area: left_down;
    }

    .middle {
      grid-area: middle;
    }

    .right {
      grid-area: right;
    }
  }

  .footer {
    height: 20px;
    flex: 0 0 auto;
    border: $border-white-2;
    margin: 5px;
  }
}
